<div class="cardView" (click)="gameDetails(details)">
    <div class="img-responsive" *ngIf="!details.background_image">
        <div class="d-flex align-items-center h-100">
            <p class="text-center fontChange">No image Available</p>
        </div>
    </div>

    <img *ngIf="details.background_image" src={{details.background_image}} alt="" class="img-responsive">
    <div class="m-3">
        <h5 style="font-size: 18px;font-weight: 600;" class="mb-0">{{details.name}}</h5>
        <div class="my-2">
            <span class="fontChange">Available Platforms:</span>
        </div>

        <img *ngFor="let platform of details.parent_platforms" height="25" width="25" class="mx-1"
            src="../../../assets/images/{{platform.platform.slug}}.svg" alt="">
    </div>
</div>  