<div class="header w-100">
    <div class="centeredItem">
        <form #ngForm="ngForm" (ngSubmit)="onSubmit(ngForm)" class="w-25">
            <div class="d-flex">
                <input type="text" class="form-control searchBar" 
                name="searchParam" ngModel
                placeholder="Search 500,000+ games"
                autocomplete="off">
                <button class="btn btn-primary searchButton" type="submit">Search</button>
            </div>
        </form>
    </div>
</div>